* {
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

html, body {
    background-color: rgb(97, 0, 0);
}


header {
    background-color: rgb(189, 0, 0);
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0%;
}

header ol {
    display: flex;
}

header ol,
header li {
    list-style: none;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
    border-radius: 3px;
    font-size: 17px;
}

header a:hover {
    background-color: #d0d48b;
}

header li:hover {
    transform: scale(1.1);
    transition: transform .4s;
}

p {
    margin-top: 6rem;
    color: white;
    font-size: 27px;
    padding-inline: 5%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#textos {
    color: rgb(196, 196, 196);
    font-size: 20px;
    padding-inline: 5%;
    padding-bottom: 5%;
    list-style: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

li {
    padding-top: 1%;
}

img {
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin-inline: auto;
    padding-bottom: 2%;
}
